@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>For example, this is my extra change</p>    
<p>Change made by user 001 to cause a merge conflict</p>
<p>This change was made from the second laptop by user 002</p>
